* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* HEADER */
header {
  position: sticky;
  top: 0;
  z-index: 999;
}

a {
  color: black;
  text-decoration: none;
}

.navContainer {
  background-color: rgba(4, 159, 255, 0.697);
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.titulo {
  margin: .3125rem;
  font-size: 3rem;
}

.contButtons {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}


.navButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 3rem;
  text-decoration: none;
  color: white;
  padding: .2rem;
  margin: .3125rem;
  border: 2px solid rgb(255, 255, 255);
  border-radius: .25rem;

}

.carButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 3rem;
  text-decoration: none;
  color: white;
  padding: .2rem;
  margin: .3125rem;
  border: 2px solid rgb(255, 255, 255);
  border-radius: .25rem;
}

.svg-carrito {
  width: 20px;
  height: 20px;
  margin: .2rem;
}
.element-carrito{
  color: rgb(0, 0, 0);
  padding: 1px;

}

/* productos  */
.cont-productos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.los-productos {
  margin: .9375rem;
  padding: .625rem;
  display: grid;
  gap: .625rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "card card card card"
    "card card card card";
  justify-items: center;
  background-color: rgba(4, 159, 255, 0.697);
  border-radius: 1.25rem;
}

/* Cargando */
.cont-cargando {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Cards */
.card {
  width: 16rem;
  height: 20rem;
  margin: .3125rem;
  border-radius: 1.25rem;
  border: solid black .125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: gray 5px 4px 5px 4px;
  background-color: white;
}

h2,
h4 {
  margin: 1px;
}

.imagenes-productos {
  width: auto;
  height: 8rem;
}

.precio {
  font-weight: 600;
  margin: 0px;
}

/* ++++++DESCRIPCION +++++*/
.descr-gral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.descr-conteiner {
  border: black solid 1px;
  border-radius: .625rem;
  width: 47.5rem;
  display: grid;
  margin: 1rem;
  padding: 2rem;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 3fr 1fr;
  gap: 1rem;
  grid-template-areas:
    "img1 det2"
    "img1 btn3";
}

.descr-cont-img {
  grid-area: img1;
}

.descr-detalle {
  grid-area: det2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.descr-botones {
  grid-area: btn3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descr-img-producto {
  height: 20rem;
  width: auto;
}

.botones-stock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-restar,
.btn-sumar {
  font-size: .7rem;
  background-color: rgba(4, 159, 255, 0.697);
  margin: .3125rem;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 5px;
}

.cantidad {
  border: black 1px;
}

.cont-btn-add {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-add-cart {
  background-color: rgba(4, 159, 255, 0.697);
  border-radius: .3125rem;
  padding: .5rem;
  color: rgb(0, 0, 0);
}

.register {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem;
}

.inputR {
  padding: .5rem;
  width: 15rem;
  border-radius: .5rem;
  border: 2px solid black;
}


.btnCont {
  width: 5rem;
  height: 2rem;
  margin: .6rem;
}

/* //++++++++carrito+++++++++// */
.cont-carrito {
  width: 30rem;
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: .125rem black solid;
  border-radius: .5rem;
  background-color: rgba(4, 159, 255, 0.697);

}

.card-carrito {
  margin: 1rem;
  padding: .3rem;
  display: flex;
  flex-direction: column;
  width: 15rem;
  border: .125rem rgb(255, 255, 255) solid;
  border-radius: .625rem;
  background-color: rgba(230, 230, 230, 0.874);
  box-shadow: gray 5px 4px 5px 4px;
}

.cont-btn-borrar {
  display: flex;
  flex-direction: column;
  align-items: end;

}

.btn-borrar {
  justify-content: end;
  background-color: red;
  color: white;
  border-radius: .3rem;
  display: column;
  width: 3rem;
  margin: 0.5rem;

}
.cont-btn-compra{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}
.btn-vaciar, .btn-pagar{
width: 6rem ;
height: 2.5rem;
font-weight: 600;
border-radius: .5rem;
background-color: red;
margin: 0.5rem;
font-size: .9rem;
border-radius: .6rem;
}
.btn-pagar{
  background-color: rgba(8, 203, 11, 0.941);
}
.cont-checkout{
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cont-form{
  width: 31.25rem;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.inp-form, .btn-form{
  width: 25rem;
  height: 2.5rem;
  margin: .5rem;
  padding-left: .5rem;
  font-size: 1.1rem;
  border-radius: .6rem;
}
.btn-form{
background-color: rgba(4, 159, 255, 0.697);
}
.comprobante{
  border: solid 2px black;
  border-radius: .625rem;
  padding: 1rem;
  margin: .5rem;
  background-color: rgba(4, 159, 255, 0.697);

}