
/* HEADER */
.navContainer{
  background-color: rgb(4, 159, 255);
  color:white;
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  justify-content:space-between;
  align-items:center;
}

.titulo {
  margin: .3125rem;
  font-size: 3rem;
}
input{
  border-radius: 1.2rem;
}
.contButtons {
  flex-wrap: nowrap;
}

.search{
  background-color: rgba(255, 255, 255, 0.883);
  border-radius: .625rem;
  width: 20rem;
  height: 2rem;
  box-shadow: grey 1px 4px 2px 2px;
}
.navButtons{
  text-decoration: none;
  color:white;
  padding: .2rem;
  margin: .3125rem;
  border: 2px solid rgb(255, 255, 255);
  border-radius: .25rem;
}
.icono-carrito{
  width: 15px;
  height: 15px;
}

/* productos  */
.los-productos{
  margin: .625rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "card card card card"
  "card card card card";
  justify-items: center;
}



/* Cards */
.card{
  width: 16rem;
  height: 20rem;
  margin: .3125rem;
  border-radius: 1.25rem;
  border: solid black .125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imagenes-productos{
  width: auto;
  height:8rem;
};



/* FOOTER */
.contFooter{
  background-color:  rgb(4, 159, 255);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contEnlases{
  display: flex;
  flex-direction: row;
}
li{list-style: none;
  margin: 0.2rem;
}
a{text-decoration: none;
  color: white;
}

